body{
    margin: 0;
    padding: 0;
    background: url(Birdd.jpg);
    background-size: cover;
    background-position: top ;
    font-family: sans-serif;: Impact;
}
.hading{
    background: linear-gradient(to right, #aaec11 0%, #487909 100%);
    color: aliceblue;
    margin: 5px;
}
.Para{
    
    color: #0de72a;
    
    margin: 0px 0px 0px 5px;
}
.Accept{
    color: #1edf3e;
}
.main{
    
    border: 6px solid #10c21f;
    padding: 0px 5px 20px 20px;
    width: fit-content;
    margin: 30px 20px 20px 20px;
}


.name{ 
    border: none;
    border-radius: 17px;
    margin-bottom: 5px;
    
}
.Fname{
    margin-bottom: 5px;
}
.Address{
    margin-bottom: 5px;
}
.City{
    margin-bottom: 5px;
}
.uname{
    margin-bottom: 5px;
}



.pass{
    margin-bottom: 5px;
}
.cpass{
    margin: 0%;
}

